<a href="https://colab.research.google.com/github/espartan0007/Programacion-Aplicada-25A-python3/blob/main/Diccionarios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#dictionary
dc={"arbol":"Especimen vegatal que esta constituido por un tronco,ramas y follaje generalmente de altura mayor a 1 mt."}
# creacion o definicion de un diccionario llamado dc
#Elemento clave PA valor asociado a el 90
print(dc["arbol"])

Especimen vegatal que esta constituido por un tronco,ramas y follaje generalmente de altura mayor a 1 mt.

In [1]:
#dictionary
dc={"PA":90}
# creacion o definicion de un diccionario llamado dc
#Elemento clave PA valor asociado a el 90
print(dc["PA"])

90

In [4]:
d = {1: "geeks", 2: "for"}

# using clear() to remove all items
d.clear()
print(d)

{}

In [5]:
original = {1: 'geeks', 2: 'for'}

# copying using copy() function
new = original.copy()

# removing all elements from the list
# Only new list becomes empty as copy()
# does shallow copy.
new.clear()

print('new: ', new)
print('original: ', original)

new:  {}
original:  {1: 'geeks', 2: 'for'}

In [7]:
seq = {'a', 'b', 'c', 'd', 'e'}

# creating dict with default values as None

# creating dict with default values as 1
res_dict2 = dict.fromkeys(seq, 1)

print("The newly created dict with 1 as value : " + str(res_dict2))

The newly created dict with 1 as value : {'e': 1, 'b': 1, 'd': 1, 'a': 1, 'c': 1}

In [9]:
d = {'coding': 'good', 'thinking': 'better'}
print(d.get('coding'))

good

In [19]:
d = {'A': 'Python', 'B': 'Java', 'C': 'C++'}

# using items() to get all key-value pairs
items = d.items()

#print(items)
#print( type(items) )
q=list(items)
print(q[2]  )

('C', 'C++')

In [20]:
d = {'A': 'Geeks', 'B': 'For', 'C': 'Geeks'}
# Using keys() to get all keys from the dictionary
k = d.keys()

print(k)

dict_keys(['A', 'B', 'C'])

In [22]:
# inializing dictionary student
student = {"rahul":7, "Aditya":1, "Shubham":4}

# priting original dictionary
print(student)

# using dictionary pop
suspended = student.pop("rahul")

# checking key of the element
print("suspended student roll no. = "+ str(suspended))

# printing list after performing pop()
print("remaining student" + str(student))

{'rahul': 7, 'Aditya': 1, 'Shubham': 4}
suspended student roll no. = 7
remaining student{'Aditya': 1, 'Shubham': 4}

In [23]:
d = {1: '001', 2: '010', 3: '011'}

# Using popitem() to remove and return the last item
res = d.popitem()
print(res)
print(d)

(3, '011')
{1: '001', 2: '010'}

In [25]:
d = {'a': 97, 'b': 98, 'c': 99, 'd': 100}
# space key added using setdefault() method
d.setdefault('@', 64)
print(d)

{'a': 97, 'b': 98, 'c': 99, 'd': 100, '@': 64}

In [29]:
d = {'A': 'Python', 'B': 'Java', 'C': 'C++'}

# using values() to get all values
v = d.values()

print(v)
print(type(list(v)))

dict_values(['Python', 'Java', 'C++'])
<class 'list'>

In [32]:
# update() method in Dictionary

# Dictionary with three items
d1 = {'A': 'Geeks', 'B': 'For', }
d2 = {'B': 'Geeks', 'C': 'Python'}


# update the value of key 'B'
d1.update(d2)
print(d1)

# using keyword arguments
d1.update(A='Hello')

print(d1)

{'A': 'Geeks', 'B': 'Geeks', 'C': 'Python'}
{'A': 'Hello', 'B': 'Geeks', 'C': 'Python'}

In [35]:
#Diseñe y codifique un algoritmo  que aplique diferentes aranceles a diferentes paises.
# Noruega : Autos +10% , Acero +1% Petroleo +15%
# Japón : Autos +20% , Acero +5% Petroleo +5%
# Cánada : Autos +25% , Acero +4% Petroleo +19%

#Todo apatir de datos de entrada de exportacion .

country=input("Escribe el pais")

di={"no":[10,1,15],"jp":[20,5,5],"ca":[25,4,19]}

li=di[country]

total_apagar=0
for aran in li:
  v1=float(input("escribe el valor> ") )
  temp=v1*(1+(aran/100)) # formulas % +
  total_apagar += temp


print(total_apagar)

Escribe el paisno
escribe el valor> 1
escribe el valor> 1
escribe el valor> 1
3.2600000000000002

In [37]:
country=input("Escribe el pais")

di={"no":[10,1,15],"jp":[20,5,5],"ca":[25,4,19]}
labels={"no":["Autos","Acero","Petroleo"],"jp":["Autos","Acero","Petroleo"],"ca":["Autos","Acero","Petroleo"]}

claves=list(di.keys())
if country in claves:
  li=di[country]
  lbls=labels[country]

  total_apagar=0
  for i in range(3):
    print(lbls[i])

    v1=float(input("escribe el valor> ") )
    temp=v1*(1+(li[i]/100)) # formulas % +
    total_apagar += temp
  print(total_apagar)

else:
  print("Esa clave de pais no existe")

Escribe el paisno
Autos
escribe el valor> 2
Acero
escribe el valor> 1
Petroleo
escribe el valor> 2
5.51