<a href="https://colab.research.google.com/github/espartan0007/Programacion-Aplicada-25A-python3/blob/main/Funciones_2025A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num_letras=len("Arturo ")
print(num_letras)

7

In [ ]:
num_s=max([1,2,3,4,5,6,7,1e-100])#Listas
print(num_s)

7

In [ ]:
num_s=min([1,2,3,4,5,6,7,1e-100]) #Listas
print(num_s)

1e-100

In [ ]:
num_s=abs(-100)
print(num_s)

100

In [ ]:
def sumar2(f1,f2):
  t=f1+f2
  return t

#MAIN
x,y =22,11
res=sumar2(x,y)  #print(x+y)
print(res)

print("Fin del programa")

33
33
Fin del programa

In [ ]:
def hipo(f1,f2):
  h=(f1**2+f2**2)**0.5
  return h

#MAIN
x,y =2,3
res=hipo(x,y)
print("LA hipotenusa de los catetos",x," ",y," es ",res)

print("Fin del programa")

LA hipotenusa de los catetos 2   3  es  3.605551275463989
Fin del programa

In [ ]:
def triangulo(f1,f2):
  h=(f1*f2)/2
  return h

#MAIN
b,h =2.0,3.0
res=triangulo(b,h)
print("El area del triangulo es ",res," con aristas ",b,h)

print("Fin del programa")

El area del triangulo es  3.0  con aristas  2.0 3.0
Fin del programa

In [ ]:
def min_of3c(f1,f2,f3):
  h=min([f1,f2,f3])
  return h

#MAIN
b,h ,w=2,3,8
res=min_of3(b,h,w)
print("El menor de tres es",res)

print("Fin del programa")

El menor de tres es 2
Fin del programa

In [ ]:
def min_of3(f1,f2,f3):
  if f1 <f2 and f1<f3:
    #print("el menor es ",f1)
    return f1
  else:
    if f2 <f1 and f2<f3:
      #print("el menor es ",f2)
      return f2
    else:
      #print("el menor es ",f3)
      return f3
 #MAIN
b,h ,w=22,3,8
res=min_of3(b,h,w)
print("El menor de tres es",res)

print("Fin del programa")

El menor de tres es 3
Fin del programa

In [ ]:
def max_of3(f1,f2,f3):
  if f1 >f2 and f1>f3:
    #print("el menor es ",f1)
    return f1
  else:
    if f2 >f1 and f2>f3:
      #print("el menor es ",f2)
      return f2
    else:
      #print("el menor es ",f3)
      return f3
 #MAIN
b,h ,w=22,3,8
res=max_of3(b,h,w)
print("El mayor de tres es",res)

print("Fin del programa")

El mayor de tres es 3
Fin del programa

In [29]:
#MENU CON IF ELSE
opc=int(input("Que eliges ? "))
if opc==1 :
  print("Suma de 2 ")
elif opc==2 :
  print("Hipotenusa ")
elif opc==3 :
  print("Area del triangulo ")
elif opc==4 :
  print("Max de tres ")
elif opc==5 :
  print("Min de tres ")
else:
  print("Esa opcion no existe ðŸ« ")

Que eliges ? 4
Max de tres

In [2]:
def sumar2(f1,f2):
  t=f1+f2
  return t
def hipo(f1,f2):
  h=(f1**2+f2**2)**0.5
  return h
def triangulo(f1,f2):
  h=(f1*f2)/2
  return h
def min_of3(f1,f2,f3):
  if f1 <f2 and f1<f3:
    #print("el menor es ",f1)
    return f1
  else:
    if f2 <f1 and f2<f3:
      #print("el menor es ",f2)
      return f2
    else:
      #print("el menor es ",f3)
      return f3
def max_of3(f1,f2,f3):
  if f1 >f2 and f1>f3:
    #print("el menor es ",f1)
    return f1
  else:
    if f2 >f1 and f2>f3:
      #print("el menor es ",f2)
      return f2
    else:
      #print("el menor es ",f3)
      return f3
txt="""
___  ___ _____ _   _ _   _         _____  ________   __
|  \/  ||  ___| \ | | | | |       |  _  ||___  /  | /  |
| .  . || |__ |  \| | | | | __   _| |/' |   / /`| | `| |
| |\/| ||  __|| . ` | | | | \ \ / /  /| |  / /  | |  | |
| |  | || |___| |\  | |_| |  \ V /\ |_/ /./ /  _| |__| |_
\_|  |_/\____/\_| \_/\___/    \_/  \___(_)_/   \___/\___/
"""
choro="""
La opcion:
1)Suma de 2 ðŸ˜µ
2) Hipotenusa ðŸ˜µ
3) Ã¡rea del triÃ¡ngulo ðŸ˜µ
4) Mayor de 3 ðŸ˜µ
5) Menor de 3 ðŸ˜µ
"""
#MAIN
print(txt)
opc=int(input("Que eliges ? "))
if opc==1 :
  print("Suma de 2 ")
elif opc==2 :
  print("Hipotenusa ")
elif opc==3 :
  print("Area del triangulo ")
elif opc==4 :
  print("Max de tres ")
  b=float(input("Escribe un numero"))
  h=float(input("Escribe un numero"))
  w=float(input("Escribe un numero"))
  res=max_of3(b,h,w)
  print("El mayor de tres es",res)
elif opc==5 :
  print("Min de tres ")
else:
  print("Esa opcion no existe ðŸ« ")

___  ___ _____ _   _ _   _         _____  ________   __
|  \/  ||  ___| \ | | | | |       |  _  ||___  /  | /  |
| .  . || |__ |  \| | | | | __   _| |/' |   / /`| | `| |
| |\/| ||  __|| . ` | | | | \ \ / /  /| |  / /  | |  | |
| |  | || |___| |\  | |_| |  \ V /\ |_/ /./ /  _| |__| |_
\_|  |_/\____/\_| \_/\___/    \_/  \___(_)_/   \___/\___/

Que eliges ? 2
Hipotenusa